.button {
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button:hover {

    -fx-background-color: white;
    /*-fx-text-fill: white;*/
}