.background {
    -fx-background-image: url("../../../../../start_background.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: white;
}